h1, h3 {
  color: #084951;
}

body {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

li {
  width: 100%;
}

table {
  margin: 0px 10%
}

a {
  text-decoration: none;
}

span {
  color: blue
}

h5 {
  float: left;
}
